<div id="container">
  <div>User: {{ user }}</div>
  <div>
    <img src="../../../assets/angular.png" width="50" />
  </div>
  <h1>Flights</h1>
  <form (ngSubmit)="submit(flightForm)" #flightForm="ngForm">
    <div>
      <input
        name="name"
        type="text"
        placeholder="Name"
        [(ngModel)]="flight.name"
        #name="ngModel"
        required
      />
    </div>
    <div>
      <input
        name="from"
        type="text"
        (ngModelChange)="formInput$.next(flight.from)"
        placeholder="From"
        [(ngModel)]="flight.from"
        #from="ngModel"
        required
      />
    </div>
    <div>
      <input
        name="destination"
        type="text"
        placeholder="To"
        [(ngModel)]="flight.destination"
        #destination="ngModel"
        required
      />
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
  <!-- <p *ngIf="currentFlight$ | async as currentFlight">
    Current Flight: {{ currentFlight.name }}
  </p> -->
</div>
